# gitignore: https://git-scm.com/docs/gitignore
# example: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Node modules
node_modules/

# Build results
bin/
obj/

# Compilation output
dist/

# Dotenv files
.env
.env.*
!.env.example

# Logs
logs/
MSBuild_Logs

# Images
*.jpg

# MacOS
.DS_Store

# Hardhat files
cache/
artifacts/

# TypeChain files
typechain/
typechain-types/

# solidity-coverage files
coverage/
coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Gas reporter files
gas-reporter-output.txt
